# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
myenv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite3

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Python Cache
.pytest_cache/
.mypy_cache/

# Build
dist/
build/ 
dcc-key
dcc-key.pub
terraform-key
terraform-key.pub
